* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: #616161;
  /* height: 100vh; */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
