* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Oswald', sans-serif;
  /* display: inline-block; */
}

body {
  background-color: #616161;
  /* height: 100vh; */
}

button {
  font-family: 'Oswald', sans-serif;
  background: none;
  color: white;
  border: none;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.react-datepicker__input-container input {
  font-size: 24px;
  border-radius: 5px;
  padding: 5px 5px;
  font-family: 'Oswald', sans-serif;
  width: 100%;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}
